* {
	margin: 0;
	padding: 0;
}
.content {
	margin: 20px;
	padding: 20px;
	background-color: #eee;
	border: 1px solid #979797;
	overflow: auto;
}
img {
	border: 1px solid #979797;
	width: 80px;
	height: 80px;
}
.team {
	float: left;
	width: 200px;
    border: 1px solid #979797;
    font-size: 14px;
    font-weight: 700;
    background-color: #fff;
}
.team img {
	float: left;
	margin: 20px 25px 20px 25px;
}
.person {
	float: right;
	width: 120px;
	border: 1px solid #979797;
	background-color: #fff;
	text-align: center;
	overflow: auto;
	padding: 10px 0;
}
.person img {
   margin: 9px;
}
.introduce {
	background-color: #fff;
	margin: 0 140px 0 220px;
	border: 1px solid #979797;
	padding: 20px;
}
.introduce p {
	margin: 15px 0;
}
.introduce p:first-child {
	margin-top: -5px;
}